<div class="inner">
	<div class="Content Widest" id="LayoutColumn1">
		<div id="primary" class="content-area col-sm-12 col-md-12">
			<main id="main" class="site-main" role="main">
				<ul class="breadcrumb">
				</ul>
				<div class="entry-content">
					<article id="pagecontent" class="hentry">
						<header class="entry-header page-header">
							<h1 class="entry-title">About Us</h1>
						</header>
						<!-- .entry-header -->
						<div class="entry-content">
							<div>"BILD Store: India is an online book store owned by Bridge Connectivity Solutions Pvt. Ltd., and operated on behalf of BILD International. BILD Store: India offers scholastic materials, books and research works."</div>
							<div>&nbsp;</div>
							<p>Bridge Connectivity Solutions is an entity solely owned by GSS (Global South Services, Inc. a USA corporation) which has its presence in several world markets. Their highly experienced team of professionals invests solely in businesses that are making a positive impact in the communities in which they operate. GSS’s current portfolio includes companies operating in information technology, business services, and hospitality that can deliver favorable returns for their investors.</p>
							<p>The mission of Bridge Connectivity Solutions (BCS) is to be the bridge that connects communities by providing quality solutions and services. BCS is a channel partner of several leading edge systems manufacturers ensuring efficient and quality products for our customers. As a part of the growing need in the community, BCS a partner with BILD International offers a one stop shop of published materials for communities and people groups, of various languages, in India and across the world.</p>
						</div>
					</article>
				</div>
			</main>
		</div>
	</div>
</div>