<div class="inner">
	<div class="Content Widest" id="LayoutColumn1">
		<div id="primary" class="content-area col-sm-12 col-md-12">
			<main id="main" class="site-main" role="main">
				<ul class="breadcrumb">
				</ul>
				<div class="entry-content">
					<article id="pagecontent" class="hentry">
						<header class="entry-header page-header">
							<h1 class="entry-title">Shipping Policy</h1>
						</header>
						<!-- .entry-header -->
						<div class="entry-content">
							<h3>Returns</h3>
							<p>You may return most new, unopened items within 30 days of delivery for a full refund. We’ll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).</p>
							<p>You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).</p>
							<p>If you need to return an item, please contact us at helpdesk@bildstore.in with your order number and details about the product you would like to return. We will respond quickly with instructions for how to return items from your order.</p>
							<h3>Shipping</h3>
							<p>All orders placed will typically ship within 7 business days for orders up to 500 copies and 15 business days for orders above 500.</p>
							<p>Our shipping is currently limited to India. If you have questions about ordering or shipping from locations outside these areas, please contact us at <a href="mailto:helpdesk@bildstore.in">helpdesk@bildstore.in</a>.</p>
							<p>When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping options you choose. Depending on the shipping provider you choose, shipping date estimates may appear on the shipping quotes page.</p>
							<p>Please also note that the shipping rates for many items we sell are based on weight. To reflect the policies of the shipping companies we use, all weights will be rounded up to the next full KG.</p>
						</div>
					</article>
				</div>
			</main>
		</div>
	</div>
</div>