<div class="inner">
	<div class="Content Widest" id="LayoutColumn1">
		<div id="primary" class="content-area col-sm-12 col-md-12">
			<main id="main" class="site-main" role="main">
				<ul class="breadcrumb">
				</ul>
				<div class="entry-content">
					<article id="pagecontent" class="hentry">
						<header class="entry-header page-header">
							<h1 class="entry-title">Terms &amp; Conditions</h1>
						</header>
						<!-- .entry-header -->
						<div class="entry-content">
							<p>In general Bridge Connectivity Solutions Pvt. Ltd. owns and operate the website <a href="http://www.bildstore.in">www.bildstore.in</a>. This document governs your relationship with www.bildstore.in. Access to and use of this website and the products and services available through this Website (collectively, the “Services”) are subject to the following terms, conditions and notices (the “Terms of Service”). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time. You should check this page regularly to take notice of any changes we may have made to the Terms of Service.</p>
							<p>Access to this Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or all of this Website.</p>
							<p><br>
								This Website may contain links to other websites (<a href="http://www.bridgeconn.com">www.bridgeconn.com</a>), which are not operated by www.bildstore.in and has no control over the Linked Sites and accepts no responsibility for them or for any loss or damage that may arise from your use of them. Your use of the Linked Sites will be subject to the terms of use and service contained within each such site.</p>
							<h3>Indemnity</h3>
							<p>You agree to indemnify, defend and hold harmless <a href="http://www.bildstore.in">www.bildstore.in</a>, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use this Website or your breach of the Terms of Service.</p>
							<h3>Variation</h3>
							<p>www.bildstore.in shall have the right in its absolute discretion at any time and without notice to amend, remove or vary the Services and/or any page of this Website.</p>
							<h3>Invalidity</h3>
							<p>If any part of the Terms of Service is unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of the Terms of Service will not be affected all other clauses remaining in full force and effect. So far as possible where any clause/sub-clause or part of a clause/sub-clause can be severed to render the remaining part valid, the clause shall be interpreted accordingly. Alternatively, you agree that the clause shall be rectified and interpreted in such a way that closely resembles the original meaning of the clause /sub-clause as is permitted by law.</p>
							<h3>Complaints</h3>
							<p>We operate a complaints handling procedure which we will use to try to resolve disputes when they first arise, please let us know if you have any complaints or comments.</p>
							<h3>Waiver</h3>
							<p>If you breach these conditions and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.</p>
							<h3>Entire Agreement</h3>
							<p>The above Terms of Service constitute the entire agreement of the parties and supersede any and all preceding and contemporaneous agreements between you and <a href="http://www.bildstore.in">www.bildstore.in</a>. Any waiver of any provision of the Terms of Service will be effective only if in writing and signed by a Director of www.bildstore.in.</p>
						</div>
					</article>
				</div>
			</main>
		</div>
	</div>
</div>