<body id="home">
    <div id="DrawerMenu">
        <div class="inner">
            <div class="CategoryList" id="SideCategoryList">
                <div class="SideCategoryListFlyout">
                    <ul class="sf-menu sf-vertical sf-js-enabled">
                        <li>
                            <a href="#" class="sf-with-ul">Resources<span class="sf-sub-indicator"> »</span></a><span class="subcat-expand"></span>
                            <ul style="visibility: hidden; display: none;" class="drawer-subcat">
                                <li><a href="/the-story-overview/" class="sf-with-ul">The Story</a></li>
                                <li><a href="/the-first-principles-series-overview/" class="sf-with-ul">The First Principles Series</a></li>
                                <li><a href="/mastering-the-scriptures-series-overview/" class="sf-with-ul">Mastering The Scriptures Series</a></li>
                                <li><a href="/the-leadership-series-overview" class="sf-with-ul">The Leadership Series</a></li>
                                <li><a href="/products.php?product=Life%28n%29%3A-Life-Stewardship-in-Community">Life(n)</a></li>
                                <li><a href="/products.php?product=Seek-the-Welfare-of-the-City">Seek the Welfare of the City</a></li>
                                <li><a href="/core-education-series-overview/">Core Education Series</a></li>
                                <li><a href="/paradigm-resources-overview/">Paradigm Resources</a></li>
                                <li><a href="/the-establishing-series-overview/">The Establishing Series</a></li>
                                <li><a href="/categories/">All Products</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">Resources By Program<span class="sf-sub-indicator"> »</span></a><span class="subcat-expand"></span>
                            <ul style="visibility: hidden; display: none;" class="drawer-subcat">
                                <li><a href="/leadership-mastery-i/">Leadership Mastery I</a></li>
                                <li><a href="/leadership-mastery-ii/">Leadership Mastery II</a></li>
                                <li><a href="/leadership-mastery-iii/">Leadership Mastery III / Diploma / International B.Min.</a></li>
                                <li><a href="/b-min-b-th-programs/">B.Min./B.Th. Programs</a></li>
                                <li><a href="/m-min-m-th-programs/">M.Min./M.Th. Programs</a></li>
                                <li><a href="/d-min-programs/">D.Min. Programs</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">Translations<span class="sf-sub-indicator"> »</span></a><span class="subcat-expand"></span>
                            <ul style="visibility: hidden; display: none;" class="drawer-subcat">
                                <li><a href="/first-principles-french/" class="sf-with-ul">French</a></li>
                                <li><a href="/spanish/" class="sf-with-ul">Spanish</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/training-packages/" class="sf-with-ul">Training Packages<span class="sf-sub-indicator"> »</span></a><span class="subcat-expand"></span>
                            <ul style="visibility: hidden; display: none;" class="drawer-subcat">
                            </ul>
                        </li>
                    </ul>
                    <div class="afterSideCategoryList"></div>
                </div>
            </div>
            <div class="Block Moveable Panel" id="SideShopByBrand" style="display:none;"></div>
            <div class="Block Moveable Panel" id="SideCategoryShopByPrice" style="display:none;"></div>
            <div class="AdditionalInformationList Moveable Panel slist" id="SideAdditionalInformation">
                <h3>Additional Information</h3>
                <div class="BlockContent">
                    <ul class="treeview">
                        <li><a href="/">Home</a></li>
                    </ul>
                    <ul class="pages-menu sf-menu sf-horizontal sf-js-enabled">
                        <li class=" ">
                            <a href="http://store.bild.org/b-min-b-th-programs/"><span>B.Min. / B.Th. Programs</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/core-education-series-overview/"><span>Core Education Series Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/life-development-resources-overview/"><span>Life Development Resources Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/m-min-m-th-programs/"><span>M.Min. / M.Th. Programs</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/mastering-the-scriptures-series-overview/"><span>Mastering The Scriptures Series Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/paradigm-resources-overview/"><span>Paradigm Resources Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/the-establishing-series-overview/"><span>The Establishing Series Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/the-first-principles-series-overview/"><span>The First Principles Series Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/the-leadership-series-overview/"><span>The Leadership Series Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/the-story-overview/"><span>The Story Overview</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/contact-us/"><span>Contact Us</span></a>
                        </li>
                        <li class=" ">
                            <a href="http://store.bild.org/shipping-returns/"><span>Shipping &amp; Returns</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="AccountNavigationList Moveable Panel slist" id="SideAccountNavigation">
                <h3>Site Information</h3>
                <div class="BlockContent js-side-account-menu">
                    <!-- Fill with content from TopMenu -->
                    <ul style="display:">
                        <li style="display:">
                            <a href="http://store.bild.org/login.php"><img width="25" height="25" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_login_icon.png?t=1488234095">
                            </a>
                            <div id="accountLink">
                                <a href="http://store.bild.org/login.php"></a><a class="signOut" style="display:none;" href="http://store.bild.org/login.php?action=logout">Sign out</a><a class="signIn" style="" href="http://store.bild.org/login.php">Register/Login</a></div>
                            <span>
                    <span class="myAccountDivider TopDivider" style="display:none;"><img width="9" height="40" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_item_divider.png?t=1488234095"></span>
                            <a class="myAccount" style="display:none;" href="http://store.bild.org/account.php">My Account</a>
                            </span>
                            <span class="TopDivider"><img width="9" height="40" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_item_divider.png?t=1488234095"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
            (function($, window) {
                'use strict';

                var bcTheme = window.bcTheme || {};
                bcTheme.mobile = bcTheme.mobile || {};

                var MobileAccountMenu = function MobileAccountMenu() {};

                MobileAccountMenu.prototype.init = function init(selector) {
                    this.$element = $(selector);

                    this.cloneTopMenu();
                    this.setCurrencyConvertor();
                    this.bindEvents();

                };

                MobileAccountMenu.prototype.cloneTopMenu = function cloneTopMenu() {
                    // Cloning from top menu as Globals don't work down here.
                    var $topMenuClone = $('.TopMenu ul').clone(),
                        $phoneNumber = $('<a />', {
                            'text': $('.js-drawermenu-store-phone-container').find('.phoneIcon').text(),
                            'href': 'tel:' + $('.js-drawermenu-store-phone-container').find('.js-drawermenu-store-phone').text()
                        });
                    //Modify the cloned menu to make phone clickable and hide stuff we don't need
                    $topMenuClone.find('.phoneIcon').replaceWith($phoneNumber);
                    $topMenuClone.find('.js-drawermenu-cart').remove();
                    //append new menu to drawer
                    this.$element.append($topMenuClone);
                };

                MobileAccountMenu.prototype.setCurrencyConvertor = function setCurrencyConvertor() {
                    this.$mobileCurrencyConverter = this.$element.find('.js-drawermenu-currency-converter');
                    this.$mobileSelectedCurrency = this.$mobileCurrencyConverter.find('.selected-currency');
                    this.$mobileCurrencyList = this.$mobileCurrencyConverter.find('.CurrencyList');
                };

                MobileAccountMenu.prototype.bindEvents = function bindEvents() {
                    var that = this;

                    this.$mobileSelectedCurrency.on('click', function(e) {
                        e.preventDefault();
                        that.$mobileSelectedCurrency.toggleClass('open');
                        that.$mobileCurrencyList.toggleClass('open');
                    });
                };

                bcTheme.mobile.accountMenu = new MobileAccountMenu();

                window.bcTheme = window.bcTheme || bcTheme;

            }(jQuery, window));

            $(function() {
                bcTheme.mobile.accountMenu.init('.js-side-account-menu');
            });
            </script>
        </div>
    </div>
    <script>
    //<![CDATA[
    $(function() {

        //Drawer Subnavigation Accordion
        $('#DrawerMenu li ul').addClass('drawer-subcat');
        $('#DrawerMenu .drawer-subcat').prev('a').after('<span class="subcat-expand"></span>');
        $('#DrawerMenu .subcat-expand').click(function() {
            $(this).next('.drawer-subcat').toggleClass('expanded');
            $(this).toggleClass('subcat-expanded');
        });

    });
    //]]>
    </script>
    <div class="page">
        <div class="header">
            <div class="inner">
                <div id="AjaxLoading" style="display: none;">
                    <div class="ajax-loader">
                        <img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/loader.png?t=1488234095" alt="">&nbsp;Loading... Please wait...
                    </div>
                </div>
                <div id="Header">
                    <div class="inner">
                        <div id="ToggleMenu" class="fa fa-bars normal"></div>
                        <div class="header-logo">
                            <a href="http://store.bild.org/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/bild_store_logo_temp_1444142096__17248.png" border="0" id="LogoImage" alt="BILD International"></a>
                        </div>
                        <div class="header-secondary">
                            <div id="SearchForm" class="cf">
                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                    <label for="search_query">Search Materials</label>
                                    <input type="text" name="search_query" id="search_query" class="Textbox autobox filled" value="Search Materials" autocomplete="off">
                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                </form>
                            </div>
                            <script type="text/javascript">
                            var QuickSearchAlignment = 'right';
                            var QuickSearchWidth = '390px';
                            lang.EmptySmallSearch = "You forgot to enter some search keywords.";
                            // uniform() is deprecated in Blueprint theme; remove binding below when removing uniform
                            $(document).ajaxComplete(function() {
                                $('input[type=checkbox], select').not('.UniApplied').uniform();
                            });
                            </script>
                        </div>
                        <div class="TopMenu">
                            <div class="inner">
                                <ul style="display:">
                                    <li style="display:">
                                        <a href="http://store.bild.org/login.php"><img width="25" height="25" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_login_icon.png?t=1488234095">
                                        </a>
                                        <div id="accountLink">
                                            <a href="http://store.bild.org/login.php"></a><a class="signOut" style="display:none;" href="http://store.bild.org/login.php?action=logout">Sign out</a><a class="signIn" style="" href="http://store.bild.org/login.php">Register/Login</a></div>
                                        <span>
                    <span class="myAccountDivider TopDivider" style="display:none;"><img width="9" height="40" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_item_divider.png?t=1488234095"></span>
                                        <a class="myAccount" style="display:none;" href="http://store.bild.org/account.php">My Account</a>
                                        </span>
                                        <span class="TopDivider"><img width="9" height="40" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_item_divider.png?t=1488234095"></span>
                                    </li>
                                    <li class="last CartLink js-drawermenu-cart" style="display:">
                                        <a href="http://store.bild.org/cart.php" title="View Cart"><img width="25" height="25" src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/top_cart_icon.png?t=1488234095"><span>Cart </span><span class="ItemNumber"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <script type="text/javascript">
                        $(document).ready(function() {
                            var GlobalFname = "Guest";
                            if (GlobalFname != "" && GlobalFname != "Guest") {
                                $("#accountLink .signOut").show();
                                $(".myAccount").show();
                                $(".myAccountDivider").show();
                            } else {
                                $("#accountLink .signIn").show();
                            }
                            $(".CartLink .ItemNumber").text(function(_, val) {
                                return val.replace(/[^0-9\(\)]/g, '');
                            });
                        });
                        </script>
                        <div id="cart-amount">
                            <a href="http://store.bild.org/cart.php" class="Cart"><span class="bag-handle"></span><span class="total"></span></a>
                        </div>
                    </div>
                </div>
                <div class="PageMenu">
                    <div class="inner">
                        <div class="CategoryList" id="SideCategoryList">
                            <div class="SideCategoryListFlyout">
                                <ul class="sf-menu sf-vertical sf-js-enabled">
                                    <li>
                                        <a href="#" class="sf-with-ul hasSub">Resources<span class="sf-sub-indicator"> »</span></a>
                                        <ul style="visibility: hidden; display: none;">
                                            <li><a href="/the-story-overview/" class="sf-with-ul">The Story</a></li>
                                            <li><a href="/the-first-principles-series-overview/" class="sf-with-ul">The First Principles Series</a></li>
                                            <li><a href="/mastering-the-scriptures-series-overview/" class="sf-with-ul">Mastering The Scriptures Series</a></li>
                                            <li><a href="/the-leadership-series-overview" class="sf-with-ul">The Leadership Series</a></li>
                                            <li><a href="/products.php?product=Life%28n%29%3A-Life-Stewardship-in-Community">Life(n)</a></li>
                                            <li><a href="/products.php?product=Seek-the-Welfare-of-the-City">Seek the Welfare of the City</a></li>
                                            <li><a href="/core-education-series-overview/">Core Education Series</a></li>
                                            <li><a href="/paradigm-resources-overview/">Paradigm Resources</a></li>
                                            <li><a href="/the-establishing-series-overview/">The Establishing Series</a></li>
                                            <li><a href="/categories/">All Products</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="#" class="sf-with-ul hasSub">Resources By Program<span class="sf-sub-indicator"> »</span></a>
                                        <ul style="visibility: hidden; display: none;">
                                            <li class=""><a href="/leadership-mastery-i/">Leadership Mastery I</a></li>
                                            <li class=""><a href="/leadership-mastery-ii/">Leadership Mastery II</a></li>
                                            <li class=""><a href="/leadership-mastery-iii/">Leadership Mastery III / Diploma / International B.Min.</a></li>
                                            <li><a href="/b-min-b-th-programs/">B.Min./B.Th. Programs</a></li>
                                            <li><a href="/m-min-m-th-programs/">M.Min./M.Th. Programs</a></li>
                                            <li><a href="/d-min-programs/">D.Min. Programs</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="#" class="sf-with-ul hasSub">Translations<span class="sf-sub-indicator"> »</span></a>
                                        <ul style="visibility: hidden; display: none;">
                                            <li><a href="/first-principles-french/" class="sf-with-ul">French</a></li>
                                            <li><a href="/spanish/" class="sf-with-ul">Spanish</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="/training-packages/" class="sf-with-ul hasSub">Training Packages<span class="sf-sub-indicator"> »</span></a>
                                        <ul style="visibility: hidden; display: none;">
                                        </ul>
                                    </li>
                                </ul>
                                <div class="afterSideCategoryList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="inner">
                <div class="Content Widest" id="LayoutColumn1">
                    <script type="text/javascript" src="http://cdn3.bigcommerce.com/r-aa10d8239cde1e204076a8603f9997a3df81f9e3/javascript/jquery/plugins/jquery.flexslider.js"></script>
                    <script type="text/javascript">
                    $(window).load(function() {
                        $('.slide-show').flexslider({
                            slideshowSpeed: $('.slide-show').attr('data-swap-frequency') * 1000,
                            animation: "slide",
                            pauseOnHover: true,
                            controlNav: true,
                            directionNav: true
                        });
                    });
                    </script>
                    <div class="slide-show slide-show-render slide-show-render-full flexslider Panel" data-swap-frequency="8" id="HomeSlideShow">
                        <div class="flex-viewport" style="overflow: hidden; position: relative;">
                            <ol class="slides" style="width: 1400%; transition-duration: 0.6s; transform: translate3d(-5000px, 0px, 0px);">
                                <li class="slide clone" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="http://store.bild.org/#">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/homepage_discounts__61592.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="slide" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="http://store.bild.org/the-story-overview/">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/the_story_banner.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="slide" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="http://store.bild.org/mastering-the-scriptures-series-overview/">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/gospels_banner.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="slide" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="https://store.bild.org/bild-encyclicals/">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/encyclicals_banner_now.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="slide" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="http://store.bild.org/the-first-principles-series-bundle/">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/first_principles_banner.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="slide flex-active-slide" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="http://store.bild.org/#">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/homepage_discounts__61592.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                                <li class="slide clone" style="width: 1000px; float: left; display: block;">
                                    <div class="slide-content">
                                        <div class="slide-overlay">
                                            <h2 class="slide-heading" style="color: #ffffff"></h2>
                                            <p class="slide-text" style="color: #ffffff"></p>
                                            <div class="slide-button" style="display:none; visibility: hidden"><span class="btn" style="color: #ffffff"></span></div>
                                            <div id="SlideSearchForm" style="display:none;" class="cf">
                                                <form action="http://store.bild.org/search.php" method="get" onsubmit="return check_small_search_form()">
                                                    <label for="slide_search_query">Search Materials</label>
                                                    <input type="text" name="search_query" id="slide_search_query" class="Textbox autobox default" value="Search Materials">
                                                    <input type="submit" class="Button" value="" name="Search" title="Search">
                                                </form>
                                            </div>
                                        </div>
                                        <a href="http://store.bild.org/the-story-overview/">
                                            <span class="slide-image-wrapper">
        <img class="slide-image" src="http://cdn3.bigcommerce.com/s-s89jjs/product_images/theme_images/the_story_banner.png?t=1482448208" alt="">
      </span>
                                        </a>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <ol class="flex-control-nav flex-control-paging">
                            <li><a class="">1</a></li>
                            <li><a class="">2</a></li>
                            <li><a class="">3</a></li>
                            <li><a class="">4</a></li>
                            <li><a class="flex-active">5</a></li>
                        </ol>
                        <ul class="flex-direction-nav">
                            <li><a class="flex-prev" href="#">Previous</a></li>
                            <li><a class="flex-next" href="#">Next</a></li>
                        </ul>
                    </div>
                    <!-- //slide-show -->
                    <div id="Slider">
                        <div id="SliderTitles">
                            <a id="ResourceSliderTitle" class="SliderTitle ActiveTitle"><h2>Resources</h2></a>
                            <a id="ResourceByProgramSliderTitle" class="SliderTitle"><h2>Resources By Program</h2></a>
                        </div>
                        <ul id="ResourceSliderContent" class="ProductList ">
                            <li style="min-height: 229px;">
                                <a href="/the-story-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/the_story_home.png?t=1488234095"></a>
                                <h3>The Story</h3>
                                <div class="SliderItemDescription">Resources for opening the scriptures to those desiring to follow Jesus as the early followers did after his resurrection.</div>
                                <a href="/the-story-overview/">See Details ›</a>
                            </li>
                            <li style="min-height: 229px;">
                                <a href="/the-first-principles-series-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/tfps_home.png?t=1488234095"></a>
                                <h3>The First Principles Series</h3>
                                <div class="SliderItemDescription">Engage every believer in the first principles of Christianity.</div>
                                <a href="/the-first-principles-series-overview/">See Details ›</a>
                            </li>
                            <li style="min-height: 229px;">
                                <a href="/mastering-the-scriptures-series-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/mastering_scriptures_home.png?t=1488234095"></a>
                                <h3>Mastering the Scriptures Series</h3>
                                <div class="SliderItemDescription">Guiding maturing believers and local (modal) church leaders in a process of solidly understanding the entire Bible.</div>
                                <a href="/mastering-the-scriptures-series-overview/">See Details ›</a>
                            </li>
                            <li style="min-height: 215px;">
                                <a href="/the-leadership-series-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/leadership_series_home.png?t=1488234095"></a>
                                <h3>The Leadership Series</h3>
                                <div class="SliderItemDescription">Comprehensive theological education within the life and ministry of local churches.</div>
                                <a href="/the-leadership-series-overview/">See Details ›</a>
                            </li>
                            <li style="min-height: 215px;">
                                <a href="/life-development-resources-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/life_development_home.png?t=1488234095"></a>
                                <h3>Life Development Resources</h3>
                                <div class="SliderItemDescription">Resources for developing skill in all areas of life, for all ages.</div>
                                <a href="/life-development-resources-overview/">See Details ›</a>
                            </li>
                            <li style="min-height: 215px;">
                                <a href="/core-education-series-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/core_education_home.png?t=1488234095"></a>
                                <h3>Core Education Series</h3>
                                <div class="SliderItemDescription">Resources designed to lay a solid general education foundation for all students.</div>
                                <a href="/core-education-series-overview/">See Details ›</a>
                            </li>
                            <li style="min-height: 229px;">
                                <a href="/paradigm-resources-overview/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/paradigm_resources_home.png?t=1488234095"></a>
                                <h3>Paradigm Resources</h3>
                                <div class="SliderItemDescription">Develop your understanding of the global church-based theological education paradigm.</div>
                                <a href="/paradigm-resources-overview/">See Details ›</a>
                            </li>
                        </ul>
                        <ul id="ResourceByProgramSliderContent" class="ProductList" style="display:none;">
                            <li style="min-height: 0px;">
                                <a href="/leadership-mastery-i/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/LM_I_Home.png?t=1488234095"></a>
                                <h3>Leadership Mastery I</h3>
                                <div class="SliderItemDescription">This program is key to becoming established in your faith and ministry; a lifetime investment.</div>
                                <a href="/leadership-mastery-i/">See Details ›</a>
                            </li>
                            <li style="min-height: 0px;">
                                <a href="/leadership-mastery-ii/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/LM_II_Home.png?t=1488234095"></a>
                                <h3>Leadership Mastery II</h3>
                                <div class="SliderItemDescription">Designed for deacons, leading women, future elders and other key church leaders.</div>
                                <a href="/leadership-mastery-ii/">See Details ›</a>
                            </li>
                            <li style="min-height: 0px;">
                                <a href="/leadership-mastery-iii/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/LM_III_Home.png?t=1488234095"></a>
                                <h3>Leadership Mastery III / Diploma / International B.Min.</h3>
                                <div class="SliderItemDescription">Designed for elders and other senior church leaders, church planters, etc.</div>
                                <a href="/leadership-mastery-iii/">See Details ›</a>
                            </li>
                            <li style="min-height: 0px;">
                                <a href="/b-min-b-th-programs/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/BMin_BTh_Home.png?t=1488234095"></a>
                                <h3>B.Min./B.Th. Programs</h3>
                                <div class="SliderItemDescription">Ordered learning rooted in the churches for developing apostolic leaders and their co-workers - including entrepreneurs, community dev., etc.</div>
                                <a href="/b-min-b-th-programs/">See Details ›</a>
                            </li>
                            <li style="min-height: 0px;">
                                <a href="/m-min-m-th-programs/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/MMin_MTh_Home.png?t=1488234095"></a>
                                <h3>M.Min./M.Th. Programs</h3>
                                <div class="SliderItemDescription">The key to developing a generation of pastors and church planters who can lead churches and transformational urban center/global city ministries.</div>
                                <a href="/m-min-m-th-programs/">See Details ›</a>
                            </li>
                            <li style="min-height: 0px;">
                                <a href="/d-min-programs/"><img src="http://cdn3.bigcommerce.com/s-s89jjs/templates/__custom/images/D_Min_Home.png?t=1488234095"></a>
                                <h3>D.Min. Programs</h3>
                                <div class="SliderItemDescription">The key to producing a generation of leaders capable of shaping and leading complex networks of churches focused on strategic urban centers/global cities.</div>
                                <a href="/d-min-programs/">See Details ›</a>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                    $(document).ready(function() {
                        $("#ResourceByProgramSliderTitle").on("click", function() {
                            $("#ResourceSliderTitle").removeClass("ActiveTitle");
                            $("#ResourceByProgramSliderTitle").addClass("ActiveTitle");
                            $("#ResourceSliderContent").hide();
                            $("#ResourceByProgramSliderContent").show();
                        });
                        $("#ResourceSliderTitle").on("click", function() {
                            $("#ResourceByProgramSliderTitle").removeClass("ActiveTitle");
                            $("#ResourceSliderTitle").addClass("ActiveTitle");
                            $("#ResourceByProgramSliderContent").removeClass("ActiveTitle").hide();
                            $("#ResourceSliderContent").addClass("ActiveTitle").show();
                        });
                    });
                    </script>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="inner">
                <div class="footer-main">
                    <div class="inner">
                        <div class="footer-columns grid">
                            <div class="grid__item one-quarter">
                                <h4>RESOURCES</h4>
                                <ul class="pages-menu sf-menu sf-horizontal sf-js-enabled">
                                    <li><a href="/the-story-overview/" class="sf-with-ul">The Story</a></li>
                                    <li><a href="/the-first-principles-series-overview/" class="sf-with-ul">The First Principles Series</a></li>
                                    <li><a href="/mastering-the-scriptures-series-overview/" class="sf-with-ul">Mastering The Scriptures Series</a></li>
                                    <li><a href="/the-leadership-series-overview" class="sf-with-ul">The Leadership Series</a></li>
                                    <li><a href="/products.php?product=Life%28n%29%3A-Life-Stewardship-in-Community">Life(n)</a></li>
                                    <li><a href="/products.php?product=Seek-the-Welfare-of-the-City">Seek the Welfare of the City</a></li>
                                    <li><a href="/core-education-series-overview/">Core Education Series</a></li>
                                    <li><a href="/paradigm-resources-overview/">Paradigm Resources</a></li>
                                    <li><a href="/the-establishing-series-overview/">The Establishing Series</a></li>
                                    <li><a href="/categories/">All Products</a></li>
                                </ul>
                            </div>
                            <div class="grid__item one-quarter">
                                <h4>RESOURCES BY PROGRAM</h4>
                                <ul class="pages-menu sf-menu sf-horizontal sf-js-enabled">
                                    <li><a href="/leadership-mastery-i/">Leadership Mastery I</a></li>
                                    <li><a href="/leadership-mastery-ii/">Leadership Mastery II</a></li>
                                    <li><a href="/leadership-mastery-iii/">Leadership Mastery III / Diploma / International B.Min.</a></li>
                                    <li><a href="/b-min-b-th-programs/">B.Min./B.Th. Programs</a></li>
                                    <li><a href="/m-min-m-th-programs/">M.Min./M.Th. Programs</a></li>
                                    <li><a href="/d-min-programs/">D.Min. Programs</a></li>
                                </ul>
                            </div>
                            <div class="grid__item one-quarter left-buffer">
                                <h4>TRANSLATIONS</h4>
                                <ul class="pages-menu sf-menu sf-horizontal sf-js-enabled">
                                    <li><a href="/first-principles-french/" class="sf-with-ul">French</a></li>
                                    <li><a href="/spanish/" class="sf-with-ul">Spanish</a></li>
                                </ul>
                            </div>
                            <div class="grid__item one-quarter">
                                <h4>CUSTOMER SUPPORT</h4>
                                <ul class="pages-menu sf-menu sf-horizontal sf-js-enabled">
                                    <li><a href="http://bild.org" class="sf-with-ul">BILD International</a></li>
                                    <li><a href="/shipping-returns/" class="sf-with-ul">Shipping &amp; Return Policy</a></li>
                                    <li><a href="/contact-us/" class="sf-with-ul">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-links">
                    <div class="inner">
                        <p>
                            Copyright © BILD International 2017 BILD International. <a href="http://store.bild.org/sitemap/"><span>Sitemap</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        setTimeout(function() {
            var headID = document.getElementsByTagName("head")[0];
            var newScript = document.createElement('script');
            newScript.type = 'text/javascript';
            newScript.src = 'https://xxredda.s3.amazonaws.com/bild/loader.js';
            headID.appendChild(newScript);
        }, 200);
        </script>
        <script type="text/javascript" src="http://cdn4.bigcommerce.com/r-aa10d8239cde1e204076a8603f9997a3df81f9e3/javascript/superfish/js/jquery.bgiframe.min.js"></script>
        <script type="text/javascript" src="http://cdn4.bigcommerce.com/r-aa10d8239cde1e204076a8603f9997a3df81f9e3/javascript/superfish/js/superfish.js"></script>
        <script type="text/javascript">
        $(function() {
            if (typeof $.fn.superfish == "function") {
                $("ul.sf-menu").superfish({
                        delay: 800,
                        dropShadows: false,
                        speed: "fast"
                    })
                    .find("ul")
                    .bgIframe();
            }
        })
        </script>
        <script type="text/javascript" src="http://cdn4.bigcommerce.com/r-aa10d8239cde1e204076a8603f9997a3df81f9e3/javascript/visitor.js"></script>
    </div>
    <table class="QuickSearch" id="QuickSearch" cellpadding="0" cellspacing="0" border="0" style="position: absolute; left: 265px; top: 57px; width: 390px;">
        <tbody>
            <tr class="QuickSearchResult QuickSearchHover" id="QuickSearchResult0">
                <td colspan="2" class="QuickSearchResultMeta">
                    <div class="QuickSearchResultName"><a href="http://store.bild.org/the-story-overview/" title="The Story Overview">The Story Overview</a> <em>(Web Page)</em></div>
                    <p></p>
                </td>
            </tr>
            <tr class="QuickSearchResult" id="QuickSearchResult1">
                <td class="QuickSearchResultImage ">
                    <img src="http://cdn3.bigcommerce.com/s-s89jjs/products/180/images/395/The_Story_Thumb__60297.1478187592.60.90.jpg?c=2" alt="The Story">
                </td>
                <td class="QuickSearchResultMeta">
                    <div class="QuickSearchResultName"><a href="http://store.bild.org/the-story-1/" title="The Story">The Story</a></div>
                    <span class="Price">$13.00</span>
                </td>
            </tr>
            <tr class="QuickSearchResult" id="QuickSearchResult2">
                <td class="QuickSearchResultImage ">
                    <img src="http://cdn3.bigcommerce.com/s-s89jjs/products/181/images/396/Teaching_The_Story_Thumb__01582.1478187682.60.90.jpg?c=2" alt="Teaching the Story">
                </td>
                <td class="QuickSearchResultMeta">
                    <div class="QuickSearchResultName"><a href="http://store.bild.org/teaching-the-story/" title="Teaching the Story">Teaching the Story</a></div>
                    <span class="Price">$9.00</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
