<div class="inner">
	<div class="Content Widest" id="LayoutColumn1">
		<h1 class="TitleHeading">Bulk Item Information</h1>
		<div class="BlockContent full-width">
			<p class="txt24">
				For the Bulk order. Please request us from the below link:
			</p>
			<p><%=link_to "Click here", new_contact_path %></p>
		</div>
	</div>
	<div class="clear"></div>
</div>