<div class="inner">
	<div class="Content Widest" id="LayoutColumn1">
		<div class="Block Moveable Panel Breadcrumb" id="CartBreadcrumb">
			<!-- <ul class="last">
    		<li><a href="http://store.bild.org/">Home</a></li><li><a href="javascript:history.go(-1)">... Previous Page</a></li><li>Your Shopping Cart</li>
    	</ul> -->
		</div>
		<div class="Block Moveable Panel" id="CartHeader">
			<h1 class="TitleHeading">
				Your Order Cancelled
			</h1>
		</div>
		<div class="Block Moveable Panel" id="CartContent">
			<div class="BlockContent">
				<div class="clear"></div>
				<div style="display: ">
					<p class="InfoMessage">
						Your order has be cancelled because of some technical issue. Please try again.</p>
					<a href="<%= root_path %>" class="btn alt">Continue Shopping</a> on the BILD International India Store home page.
				</div>
			</div>
		</div>
	</div>
</div>